
.main
		{
      
			height: 200px;
			width: 200px;
			margin-top: 50px;			margin-left: 70px;
			justify-items: center;
			display: grid;
			grid-template-areas:"a1 a2 a3"
								          "a4 a5 a6";

			row-gap: 20px;
			gap: 20px;
		}
				video{
			object-fit: cover;
		}
		.box1{
			grid-area: a1;
		}
		.box2{
			grid-area: a2;
		}
		.box3{
			grid-area: a3;
		}
		.box4{
			grid-area: a4;
		}
		.box5{
			grid-area: a5;
		}
		.box6{
			grid-area: a6;
		}
